﻿@model System.Collections.Generic.List<Entities.EngineResult>

@{
    Layout = null;
}

<!DOCTYPE html>

<h1>CSS Engine Rule Result</h1>
<table border="1" class="table table-bordered ">
    <thead>
        <tr>
            <th>Data ID</th>
            <th>Operation ID</th>
            <th>Threshold ID</th>
            <th>Comparison</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="row">
                <td class=" col-sm-2">
                    @item.DataID
                </td>
                <td class=" col-sm-2">
                    @item.OperationID
                </td>
                <td class=" col-sm-2">
                    @item.ThresholdID
                </td>
                <td class=" col-sm-2">
                    @item.Comparison
                </td>
                <td class=" col-sm-2">
                    @item.Result
                </td>
            </tr>
        }
    </tbody>
</table>

